block vars
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Buscador & Gallery
    link(href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='css/style.css')
  body
    block content
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js")
    script(src="js/bower_components/underscore/underscore.js")
    script(src='js/gallery.min.js')
    //- script(src='js/app.min.js')
